Sequências Container: list, tuple, collections.deque podem armazenar itens de tipos diferentes.

Sequências símples: str, bytes, bytearray, memoryview e array.array armazenam itens de um só tipo.

Sequências Mutáveis: list, bytearray, array.array, collections.deque e memoryview

Sequências imutáveis: tuple, str e bytes

In [1]:
ord?

# List comprehensions e expressões geradoras

In [3]:
symbols = 'fgsdjfgas'
codes = [ord(i) for i in symbols]
codes

[102, 103, 115, 100, 106, 102, 103, 97, 115]

In [5]:
# produtos cartesianos
cores = ['branco', 'preto']
tamanhos = ['P', 'M', 'G']
camisetas = [(cor, tamanho) for cor in cores 
                            for tamanho in tamanhos]

In [6]:
camisetas

[('branco', 'P'),
 ('branco', 'M'),
 ('branco', 'G'),
 ('preto', 'P'),
 ('preto', 'M'),
 ('preto', 'G')]

In [7]:
# expressões geradoras
symbols = 'asdhgfajksdg'
tuple(ord(symbol) for symbol in symbols)

(97, 115, 100, 104, 103, 102, 97, 106, 107, 115, 100, 103)

In [8]:
import array

In [9]:
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [97, 115, 100, 104, 103, 102, 97, 106, 107, 115, 100, 103])

In [11]:
for tshirt in ('%s, %s' %(c, s) for c in cores
                                for s in tamanhos):
    print(tshirt)

branco, P
branco, M
branco, G
preto, P
preto, M
preto, G

### Tuplas usadas como registro

In [17]:
tupla = ('Tokyo', 2003, 32450, 0.66, 8014, 45)

In [18]:
city, year, pop, chg, area, _ = tupla

In [20]:
t = (20, 8)

In [21]:
divmod(*t)

(2, 4)

In [23]:
quotient, remainder = divmod(*t)

In [24]:
quotient

2

In [25]:
remainder

4

In [26]:
import os

In [27]:
_, file_name = os.path.split('cloves/doc/file.pdf')

In [28]:
file_name

'file.pdf'

In [29]:
a, b, *resto = range(5)

In [33]:
a, b, resto

(0, 1, [2, 3, 4])

In [34]:
# Tuplas aninhadas

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.43333, -99.1333)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

In [35]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |    lat    |   long.
Mexico City     |   19.4333 |  -99.1333
Sao Paulo       |  -23.5478 |  -46.6358

# Tuplas Nomeadas

In [1]:
from collections import namedtuple

In [2]:
City = namedtuple('City', 'name country population coordinates')

In [3]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [4]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [5]:
tokyo.coordinates

(35.689722, 139.691667)

In [6]:
tokyo[1]

'JP'

In [7]:
City._fields

('name', 'country', 'population', 'coordinates')

In [8]:
LatLong = namedtuple('LatLong', 'lat long')

In [9]:
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [10]:
delhi = City._make(delhi_data)

In [11]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [13]:
delhi._asdict().items()

odict_items([('name', 'Delhi NCR'), ('country', 'IN'), ('population', 21.935), ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [12]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)